---
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: '^.*/src/.*'
ExcludeHeaderFilterRegex: ''
FormatStyle:     Google
User:            localhost
SystemHeaders:   false
Checks: >
  -*,
  bugprone-*,
  performance-*,
  modernize-*,
  misc-*,
  cppcoreguidelines-*,
  concurrency-*,
  google-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -google-readability-todo,
  -google-build-explicit-make-pair
...
